@{
    
}


<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>stock</th>
        </tr>


        <tr>
            <td>@ViewData["1"]</td>
            <td>@ViewData["2"]</td>
            <td>@ViewData["3"]</td>
            <td>@ViewData["4"]</td>
        </tr>

    </table>
</div>

<a href="getlist"><h2>GET_ALL_DETAILS</h2></a>
<a href="Create"><h2>Create_one_more</h2></a>
